* {
    box-sizing: border-box;
}
html {
    background-color: rgb(36, 36, 36);
}
body {
    font-family: 'Lato', sans-serif;
    margin: 0;
}
#attribution {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#navigation {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#logo {
    width: 120px;
    height: auto;
}

#recipe-form-container {
    background:  linear-gradient(0deg,  rgb(36, 36, 36)0%, rgba(0,0,0,0.4) 45%, rgba(124, 96, 96, 0.1) 100%) no-repeat center center, url(images/food.jpg) no-repeat center center;
    background-size: 1000px;
    width: 100%;
    height: 850px;
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    text-align: center;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}


.search-label {
    padding: 8px;
    font-weight: lighter;
    font-size: 28px;
    text-align: center;
    height: auto;
    width: 280x;
    margin-bottom: 35px;
}
#recipe-search-label {
    color: white;
}
#recipe-input, #quantity-input {
    background: rgba(0, 0, 0, 0.452);
    border-bottom: 2px solid rgb(102, 182, 71);
    border-top: none;
    border-right: none;
    border-left: none;
    color: white;
}
#recipe-input {
    margin-bottom: 25px;
    width: 275px;
}
#quantity-input {
    margin-bottom: 25px;
    width: 275px;
}
#quantity-label, #keyword-label {
    color: white;
}
::placeholder {
    color: rgb(102, 182, 71);
}
:-ms-input-placeholder {
    color: rgb(102, 182, 71);
}
::-ms-input-placeholder {
    color: rgb(102, 182, 71)
}
.btn {
    font-size: 22px;
    height: 40px;
    width: 250px;
    border: none;
    background: none;
    padding: 5px;
    text-decoration: none;
    line-height: 1;
    
    position: relative;
    z-index: 0;
    padding: 5px 5px;
    overflow: hidden;
    color: white;
    vertical-align: bottom;
    transition: color .3s ease-out;
}

.btn:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    transform: translateY(calc(100% - 2px));
    width: 100%;
    height: 100%;
    background-image: linear-gradient(60deg, #ffffff 0%, #72b926 100%);
    transition: transform .25s ease-out;
}
.btn:hover { 
    color: #000000; 
 }
.btn:hover::before {
    transform: translateY(0);
    transition: transform .25s ease-out;
 }


#js-error-message {
    display: none;
    font-weight: lighter;
    color: white;
    font-size: 20px;
    text-align: center;
    background: rgba(255, 0, 0, 0.37);
    border-radius: 5px;
}

#error-container {
    border: 2px solid red;
    background: none;
    color: white;
    border-radius: 20px;
    font-size: 18px;
    display: none;
    text-align: center;
    margin: 25px;
    width: 80%;
}
#scroll-message {
    display: none;
    padding: 45px;
    font-weight:bolder;
    color: rgb(102, 182, 71);
    font-size: 25px;
}


.recipe-results {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
}
#results-header {
    font-weight: lighter;
    color: white;
    font-size: 35px;
    height: auto;
    width: 300px;
    text-align: center;
    margin-bottom: 35px;
    border-bottom: 1px solid rgb(102, 182, 71);
}
li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
ul {
    padding: 0;
}
.recipes {
    font-weight: lighter;
    color: white;
    margin: 40px;
    margin-bottom: 0;
    font-size: 18px;
    width: 250px;
    text-align: center;
}
.recipe-img {
    width: 140px;
    border-top: 1px solid white;
    border-bottom: 3px solid black;
    height: auto;
    border-radius: 100px;
}
#performance-facts {
    line-height: 14px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    border: 1px solid black;
    background-color: white;
    color: black;
    width: 260px;
    height: auto;
    font-size: 14px;
    font-family: 'Roboto';
    margin-left: auto;
    margin-right: auto;
}
.performance-facts__header {
    border-bottom: 10px solid black;
}
.performance-facts__title {
    font-weight: 100;
    font-size: 22px;
    margin-bottom: 10px;
}
.performance-facts__table, .performance-facts__table--grid {
    width: 195px;
}
thead, #lkcal-val-cal {
    text-align: left;
}
#lkcal-val-cal {
    font-size: 18px;
    padding-top: 2.5px;
    padding-left: 2.5px;
}
#lkcal-val-cal, .nob {
    border-bottom: 5px solid black;
    padding-bottom: 10px;
}
th {
    text-align: left;
}
td {
    text-align: right;
}
.amps {
    font-size: 12px;
}

footer {
    width: 100%;
}
#attribution-img {
    width: 200px;
}


@media (min-width: 600px) {
    .big-background {
        width: 100%;
        background: linear-gradient(0deg,  rgb(36, 36, 36)0%, rgba(0,0,0,0.4) 45%, rgba(124, 96, 96, 0.1) 100%) no-repeat center center, url(images/food.jpg) no-repeat center center;
        background-size: cover;
    }

    #navigation {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        height: 100px;
    }
    
    #logo {
        margin-left: 20px;
        margin-right: auto;
        width: 140px;
        height: auto;
    }
    #attribution {
        height: 80px;
        justify-content: flex-end;
    }
    #attribution-img {
        margin-right: 25px;
    }
    .nav-links {
        margin-top: 20px;
        margin-right: 60px;
        text-decoration: none;
        align-self: center;
        font-weight: 600;
        font-size: 20px;
    }
    #recipe-form-container {
        background: none;
    }
    .search-label {
        font-size: 35px;
        padding: 10px;
        width: 350px;
    }
    #recipe-input, #quantity-input {
        width: 400px;
        font-size: 22px;
    }
    #quantity-input {
        margin-bottom: 25px;
    }
    #recipe-form-container {
        background-size: 800px;
    }
    #error-container {
        width: 100%;
    }
    .recipes {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        font-size: 28px;
        width: 560px;
    }
    li {
        margin-right: 50px;
    }

}
@media (min-width: 1100px) {
    li {
        margin-right: 200px;
        width: 550px;
    }
    .recipes {
        width: 900px;
    }
}
